header {
  .header-container {
    .header-content {
      .nav-bar {
        nav {
          ul {
            li {
              a {
                color: $mainWhite;
                font-size: 13px;
                font-weight: bold;
                letter-spacing: 2px;
              }
              a:hover {
                color: $hoverOrange;
                transition: 250ms;
              }
            }
          }
        }
      }
    }
  }
}

main {
  .main-container {
    #section-1 {
      .section-container {
        .section-content {
          span {
            font-size: 14px;
            opacity: 50%;
            color: $mainWhite;
            letter-spacing: 10px;
          }
          h2 {
            font-size: 56px;
            font-weight: bold;
            color: $mainWhite;
            letter-spacing: 2px;
          }
          p {
            font-size: 15px;
            color: $mainWhite;
            opacity: 0.75;
          }
          button {
            font-size: 13px;
            color: $mainWhite;
            letter-spacing: 1px;
            font-weight: bold;
          }
        }
      }
    }
    #section-2 {
      .section-container {
        .section-content {
          span {
            color: $mainBlack;
            font-size: 18px;
            font-weight: bold;
            letter-spacing: 1.29px;
          }
          a {
            color: $mainBlack;
            opacity: 0.5;
            font-weight: bold;
            letter-spacing: 1px;
            font-size: 13px;
          }
        }
      }
    }

    #section-3 {
      .section-container {
        .section-content {
          h3 {
            font-size: 40px;
            font-weight: bold;
            line-height: 44px;
            letter-spacing: 1.43px;
            color: $mainBlack;
            .best {
              color: $bestSpan;
            }
          }
          p {
            color: $mainBlack;
            opacity: 0.5;
            font-size: 15px;
            line-height: 25px;
          }
        }
      }
    }
  }
}

footer {
  .footer-container {
    .footer-content {
      a {
        color: $mainWhite;
        font-size: 13px;
        font-weight: bold;
        letter-spacing: 2px;
      }
      p {
        color: $mainWhite;
        opacity: 0.5;
        font-size: 15px;
        line-height: 25px;
      }
      span {
        color: $mainWhite;
        opacity: 0.5;
        font-size: 15px;
      }
    }
  }
}
