// main colors
$mainBlack: #101010;
$mainOrange: #d87d4a;
$mainWhite: #ffffff;

// hovers
$hoverOrange: #fbaf85;

// underline
$underline: #979797;

// span
$bestSpan: #d87d4a;

// mini-blocks
$miniBlock: #f1f1f1;
