.checkout-page {
  .overlay.shown {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    opacity: 0.5;
    z-index: 1;
  }
  main {
    background-color: #f1f1f1;
    #goBack {
      padding-top: 79px;
      @include responsive(tablet) {
        padding-top: 33px;
      }
      @include responsive(phone) {
        padding-top: 16px;
      }
      .go-back {
        max-width: 1150px;
        padding: 0px 20px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        a {
          color: #000000;
          opacity: 0.5;
        }
      }
    }

    .checkout-pop-up {
      display: none;
      z-index: 2;
      position: absolute;
      padding: 48px 48px 61px 48px;
      max-width: 540px;
      width: 100%;
      height: fit-content;
      background-color: #ffffff;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
      .image-container {
        width: 64px;
        height: 64px;
        margin-bottom: 33px;
      }
      .text-container {
        margin-bottom: 24px;
        max-width: 284px;
        width: 100%;
        .thank-text {
          font-size: 32px;
          font-weight: bold;
          letter-spacing: 1.14px;
          line-height: 36px;
          color: #000000;
        }
      }
      .sub-container {
        margin-bottom: 129px;
        max-width: 444px;
        width: 100%;
        .sub-text {
          font-size: 15px;
          line-height: 25px;
          color: #000000;
          opacity: 0.5;
        }
      }
      .button-container {
        max-width: 100%;
        button {
          width: 100%;
          height: 48px;
          font-size: 13px;
          color: #ffffff;
          letter-spacing: 1px;
          background-color: #d87d4a;
          color: #ffffff;
          border: none;
        }
      }
    }
    .shown {
      display: block;
    }

    #checkout {
      padding: 38px 0px 245px 0px;
      @include responsive(tablet) {
        padding: 24px 0px 116px 0px;
      }
      @include responsive(phone) {
        padding-bottom: 97px;
      }
      .section-container {
        margin: 0 auto;
        max-width: 1440px;
        width: 100%;
        display: flex;
        justify-content: center;
        .flex-wrapper {
          max-width: 1150px;
          width: 100%;
          padding: 0px 20px;
          display: flex;
          justify-content: space-between;
          column-gap: 20px;
          @include responsive(tablet) {
            flex-direction: column;
            row-gap: 32px;
            column-gap: 0px;
          }
          .checkout {
            flex: 2;
            background-color: #ffffff;
            width: 100%;
            border-radius: 8px;
            padding: 77px 47.5px 64px 48px;
            @include responsive(tablet) {
              padding: 30px 27px 30px 27.5px;
            }
            @include responsive(phone) {
              padding: 24px;
            }
            .checkout-content {
              display: flex;
              flex-direction: column;
              .section-title {
                font-size: 32px;
                font-weight: bold;
                line-height: 36px;
                letter-spacing: 1.14px;
              }
              .billing-details {
                margin-top: 41px;
                .title {
                  margin-bottom: 16px;
                  span {
                    font-size: 13px;
                    font-weight: bold;
                    color: #d87d4a;
                    letter-spacing: 0.93px;
                    line-height: 25px;
                  }
                }
                .input-field {
                  height: fit-content;
                  display: grid;
                  grid-template-columns: 1fr 1fr;
                  grid-template-rows: 1fr 1fr;
                  row-gap: 25px;
                  column-gap: 16px;
                  @include responsive(phone) {
                    display: flex;
                    flex-direction: column;
                    row-gap: 24px;
                  }
                  .name,
                  .email,
                  .number {
                    max-width: 309px;
                    width: 100%;
                    height: 85px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .input-title {
                      display: flex;
                      justify-content: space-between;
                      .id-validation {
                        font-size: 12px;
                        letter-spacing: -0.21px;
                        font-weight: bold;
                        color: #000000;
                      }
                      .id-error {
                        color: #cd2c2c;
                      }
                      .error {
                        font-size: 12px;
                        letter-spacing: -0.21px;
                        font-weight: bold;
                        color: #cd2c2c;
                        display: none;
                      }
                    }
                    input {
                      width: 100%;
                      height: 60px;
                      border: 1px #cfcfcf solid;
                      border-radius: 8px;
                      display: flex;
                      align-items: center;
                      padding-left: 24px;
                      font-size: 14px;
                      font-weight: bold;
                      color: #000000;
                      opacity: 0.4;
                    }
                    .input-validation {
                      border: #cd2c2c 3px solid;
                    }
                  }
                  .name {
                    grid-row: 1;
                    grid-column: 1;
                  }
                  .email {
                    grid-row: 1;
                    grid-column: 2;
                  }
                  .number {
                    grid-row: 2;
                    grid-column: 1;
                  }
                }
              }
              .shopping-info {
                margin-top: 61px;
                .title {
                  margin-bottom: 16px;
                  span {
                    font-size: 13px;
                    font-weight: bold;
                    color: #d87d4a;
                    letter-spacing: 0.93px;
                    line-height: 25px;
                  }
                }
                .input-field {
                  display: grid;
                  grid-template-columns: 1fr 1fr;
                  grid-template-rows: 1fr 1fr 1fr;
                  row-gap: 25px;
                  column-gap: 16px;
                  height: fit-content;
                  @include responsive(phone) {
                    display: flex;
                    flex-direction: column;
                    row-gap: 24px;
                  }
                  .address,
                  .zip,
                  .city,
                  .country {
                    width: 100%;
                    height: 85px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .input-title {
                      display: flex;
                      justify-content: space-between;
                      .id-validation {
                        font-size: 12px;
                        letter-spacing: -0.21px;
                        font-weight: bold;
                        color: #000000;
                      }
                      .id-error {
                        color: #cd2c2c;
                      }
                      .error {
                        font-size: 12px;
                        letter-spacing: -0.21px;
                        font-weight: bold;
                        color: #cd2c2c;
                        display: none;
                      }
                    }
                    input {
                      width: 100%;
                      height: 60px;
                      border: 1px #cfcfcf solid;
                      border-radius: 8px;
                      display: flex;
                      align-items: center;
                      padding-left: 24px;
                      font-size: 14px;
                      font-weight: bold;
                      color: #000000;
                      opacity: 0.4;
                    }
                    .input-validation {
                      border: #cd2c2c 3px solid;
                    }
                  }
                  .address {
                    grid-column: 1 / 3;
                    grid-row: 1;
                    width: 100%;
                  }
                  .zip,
                  .city,
                  .country {
                    max-width: 309px;
                    width: 100%;
                  }
                  .zip {
                    grid-row: 2;
                    grid-column: 1;
                  }
                  .city {
                    grid-row: 2;
                    grid-column: 2;
                  }
                  .country {
                    grid-row: 3;
                    grid-column: 1;
                  }
                }
              }
              .payment-details {
                margin-top: 61px;
                .title {
                  margin-bottom: 13px;
                  display: flex;
                  justify-content: space-between;
                  .payment {
                    font-size: 13px;
                    font-weight: bold;
                    color: #d87d4a;
                    letter-spacing: 0.93px;
                    line-height: 25px;
                  }
                  .credit-card {
                    font-size: 13px;
                    color: #000000;
                    letter-spacing: 0.3px;
                    line-height: 16px;
                    text-decoration: underline;
                  }
                }
                .description {
                  display: flex;
                  flex-direction: column;
                  @include responsive(tablet) {
                    flex-direction: row;
                    column-gap: 25px;
                  }
                  @include responsive(phone) {
                    flex-direction: column;
                    row-gap: 32px;
                  }
                  .card {
                    order: -1;
                    padding: 100px 0px 10px 0px;
                    margin: 0 auto;
                    max-width: 338px;
                    width: 100%;
                    background-color: #000000;
                    border-radius: 16px;
                    position: relative;
                    @include responsive(tablet) {
                      order: 1;
                      max-width: 300px;
                      padding: 88px 0px 15px 0px;
                    }
                    @include responsive(phone) {
                      max-width: 220px;
                      padding: 64px 0px 11px 0px;
                    }
                    .card-content {
                      padding: 0 20px;
                      max-width: 340px;
                      width: 100%;
                      .sim {
                        position: absolute;
                        left: 28px;
                        top: 25px;
                        @include responsive(phone) {
                          top: 18px;
                          left: 18px;
                          width: 13px;
                          height: 13px;
                        }
                      }
                      .wifi {
                        position: absolute;
                        left: 55px;
                        top: 24px;
                        @include responsive(phone) {
                          top: 15px;
                          left: 35px;
                          width: 12px;
                          height: 18px;
                        }
                      }
                      .number {
                        color: #ffffff;
                        word-spacing: 25px;
                        font-size: 18px;
                        font-weight: bolder;
                        line-height: 24px;
                        @include responsive(tablet) {
                          font-size: 15px;
                          line-height: 21px;
                          word-spacing: 5px;
                        }
                        @include responsive(phone) {
                          font-size: 12px;
                          line-height: 15px;
                          word-spacing: 3px;
                        }
                      }
                      .card-logo {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        margin-top: 23px;
                        .cardholder {
                          color: #aeaeae;
                          font-size: 14px;
                          line-height: 16px;
                          @include responsive(phone) {
                            font-size: 9px;
                            line-height: 10px;
                          }
                        }
                        img {
                          @include responsive(phone) {
                            width: 26px;
                            height: 15px;
                          }
                        }
                      }
                    }
                  }
                  .input-field {
                    margin: 41px auto 0px auto;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr 1fr 1fr;
                    row-gap: 16px;
                    column-gap: 16px;
                    min-height: 176px;
                    max-width: 512px;
                    width: 100%;
                    @include responsive(tablet) {
                      max-width: 309px;
                      margin: 0px;
                    }
                    .country,
                    .card-number,
                    .date,
                    .code {
                      display: flex;
                      flex-direction: column;
                      justify-content: space-between;
                      height: 84px;
                      @include responsive(tablet) {
                        height: 56px;
                      }
                      .input-title {
                        display: flex;
                        justify-content: end;
                        .error {
                          font-size: 12px;
                          letter-spacing: -0.21px;
                          font-weight: bold;
                          color: #cd2c2c;
                          display: none;
                        }
                      }
                      input {
                        width: 100%;
                        height: 60px;
                        border: 1px #cfcfcf solid;
                        border-radius: 8px;
                        display: flex;
                        align-items: center;
                        padding-left: 24px;
                        font-size: 14px;
                        font-weight: bold;
                        color: #000000;
                        opacity: 0.4;
                      }
                      .input-validation {
                        border: #cd2c2c 3px solid;
                      }
                    }
                    .country {
                      grid-row: 1;
                      grid-column: 1 / 3;
                    }
                    .card-number {
                      grid-row: 2;
                      grid-column: 1 / 3;
                    }
                  }
                }
              }
            }
          }
          .summary {
            padding: 32px 33px;
            flex: 1;
            background-color: #ffffff;
            height: fit-content;
            width: 100%;
            border-radius: 8px;
            .summary-title {
              font-size: 18px;
              font-weight: bold;
              letter-spacing: 1.29px;
              color: #000000;
            }
            .element-container {
              margin-top: 31px;
              display: flex;
              flex-direction: column;
              row-gap: 16px;
              .element {
                max-width: 284px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                @include responsive(tablet) {
                  max-width: 623px;
                }
                .product-info {
                  display: flex;
                  .image-container {
                    margin-right: 16px;
                    width: 64px;
                    height: 64px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #f1f1f1;
                    border-radius: 8px;
                    img {
                      width: 36px;
                      height: 40px;
                    }
                  }
                  .info-container {
                    padding: 7px 0px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: fit-content;
                    .product-name {
                      font-size: 15px;
                      font-weight: bold;
                      line-height: 25px;
                      color: #000000;
                    }
                    .product-price {
                      font-size: 14px;
                      line-height: 25px;
                      font-weight: bold;
                      color: #000000;
                      opacity: 0.5;
                    }
                  }
                }
                .quantity-container {
                  padding: 7px 0px;

                  span {
                    font-size: 15px;
                    font-weight: bold;
                    line-height: 25px;
                  }
                }
              }
            }
            .total-container {
              margin-top: 32px;
              max-width: 284px;
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center;
              @include responsive(tablet) {
                max-width: 623px;
              }
              .total-text {
                font-size: 15px;
                color: #000000;
                opacity: 0.5;
                line-height: 25px;
              }
              .total-price {
                font-size: 18px;
                font-weight: bold;
              }
            }
            .shipping-container {
              margin-top: 8px;
              max-width: 284px;
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center;
              @include responsive(tablet) {
                max-width: 623px;
              }

              .shipping-text {
                font-size: 15px;
                color: #000000;
                opacity: 0.5;
                line-height: 25px;
              }
              .shipping-price {
                font-size: 18px;
                font-weight: bold;
              }
            }
            .grand-container {
              margin-top: 57px;
              max-width: 284px;
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center;
              @include responsive(tablet) {
                max-width: 623px;
              }
              .grand-text {
                font-size: 15px;
                color: #000000;
                opacity: 0.5;
                line-height: 25px;
              }
              .grand-price {
                font-size: 18px;
                color: #d87d4a;
                font-weight: bold;
              }
            }
            .checkout-container {
              margin-top: 32px;
              max-width: 284px;
              height: 48px;
              @include responsive(tablet) {
                max-width: 623px;
              }
              button {
                width: 100%;
                height: 100%;
                background-color: #d87d4a;
                color: #ffffff;
                border: none;
                font-size: 13px;
                font-weight: bold;
                letter-spacing: 1px;
              }
            }
          }
        }
      }
    }
  }
}
