main {
  #section-1 {
    background-color: $mainBlack;
    .section-container {
      max-width: 1440px;
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 0 auto;
      .flex-wrap {
        max-width: 1110px;
        display: flex;
        align-items: center;
        .left-side {
          flex: 0.4;
          .text-content {
            span {
              padding-bottom: 24px;
            }
            h2 {
              padding-bottom: 24px;
            }
            p {
              padding-bottom: 40px;
              max-width: 349px;
              line-height: 25px;
            }
            button {
              padding: 15px 30px;
              background-color: $mainOrange;
              border: none;
            }
            button:hover {
              background-color: $hoverOrange;
              transition: 250ms;
            }
          }
        }
        .right-side {
          flex: 0.6;
        }
      }
    }
  }

  #section-2 {
    padding-top: 200px;

    .section-container {
      max-width: 1440px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 204px;
        grid-column-gap: 30px;
      }
      .section-content {
        max-width: 1110px;
        width: 100%;
        .mini-box {
          max-width: 350px;
          height: 204px;
          background-color: $miniBlock;
          border-radius: 8px;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-top: 116px;
          position: relative;
          img {
            position: absolute;
            top: -80px;
          }
          span {
            padding-bottom: 15px;
          }
          a {
            &:hover {
              color: $hoverOrange;
              transition: 250ms;
            }
          }
        }
      }
    }
  }
  #section-3 {
    padding-top: 112px;
    padding-bottom: 200px;
    .section-container {
      max-width: 1440px;
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 0 auto;
      .flex-wrap {
        max-width: 1110px;
        width: 100%;
        display: flex;
        align-items: center;
        .left-side {
          flex: 1;
          h3 {
            max-width: 445px;
            width: 100%;
            padding-bottom: 32px;
          }
          p {
            max-width: 445px;
            width: 100%;
          }
        }
        .right-side {
          flex: 1;
        }
      }
    }
  }
}
