.product-page {
  main {
    #section-1 {
      background-color: $mainBlack;
      .section-container {
        margin: 0 auto;
        max-width: 1440px;
        width: 100%;
        height: 240px;
        display: flex;
        justify-content: center;

        .section-content {
          max-width: 1110px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          h1 {
            font-size: 40px;
            color: #ffffff;
            letter-spacing: 1.43px;
            line-height: 44px;
          }
        }
      }
    }
    #section-2 {
      .section-container {
        margin: 0 auto;
        max-width: 1440px;
        width: 100%;

        display: flex;
        justify-content: center;
        .section-content {
          max-width: 1110px;
          width: 100%;

          .products {
            margin-top: 160px;
            height: 1280px;
            width: inherit;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .product {
              display: flex;
              align-items: center;
              justify-content: space-between;
              .product-text {
                max-width: 445px;
                width: 100%;
                min-height: 343px;
                .product-span {
                  font-size: 14px;
                  color: #d87d4a;
                  letter-spacing: 10px;
                }
                .product-header {
                  font-size: 40px;
                  font-weight: bold;
                  line-height: 44px;
                  letter-spacing: 1.43px;
                  padding: 16px 0px 32px 0px;
                }
                .product-info {
                  font-size: 15px;
                  line-height: 25px;
                  opacity: 0.5;
                  color: #000000;
                  padding-bottom: 40px;
                }
                .product-button {
                  padding: 15px 30px;
                  border: none;
                  background-color: #d87d4a;
                  color: #ffffff;
                  font-size: 13px;
                  letter-spacing: 1px;
                  font-weight: bold;
                }
              }
            }
            .product:nth-child(even) {
              flex-direction: row-reverse;
            }
          }
        }
      }
    }
    #pegination {
      margin: 0 auto;
      max-width: 1440px;
      width: 100%;
      display: flex;
      justify-content: center;
      .buttons {
        max-width: 114px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 100px 0px;
        button {
          background-color: #ffffff;
          border-radius: 4px;
          border: 1px solid black;
        }
      }
    }
  }
}
