*,
*::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Work Sans", sans-serif;
  background-color: #f7f7f7;
}

ol,
ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
}

header .header-container .header-content .nav-bar nav ul li a {
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 2px;
}
header .header-container .header-content .nav-bar nav ul li a:hover {
  color: #fbaf85;
  transition: 250ms;
}

main .main-container #section-1 .section-container .section-content span {
  font-size: 14px;
  opacity: 50%;
  color: #ffffff;
  letter-spacing: 10px;
}
main .main-container #section-1 .section-container .section-content h2 {
  font-size: 56px;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 2px;
}
main .main-container #section-1 .section-container .section-content p {
  font-size: 15px;
  color: #ffffff;
  opacity: 0.75;
}
main .main-container #section-1 .section-container .section-content button {
  font-size: 13px;
  color: #ffffff;
  letter-spacing: 1px;
  font-weight: bold;
}
main .main-container #section-2 .section-container .section-content span {
  color: #101010;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1.29px;
}
main .main-container #section-2 .section-container .section-content a {
  color: #101010;
  opacity: 0.5;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 13px;
}
main .main-container #section-3 .section-container .section-content h3 {
  font-size: 40px;
  font-weight: bold;
  line-height: 44px;
  letter-spacing: 1.43px;
  color: #101010;
}
main .main-container #section-3 .section-container .section-content h3 .best {
  color: #d87d4a;
}
main .main-container #section-3 .section-container .section-content p {
  color: #101010;
  opacity: 0.5;
  font-size: 15px;
  line-height: 25px;
}

footer .footer-container .footer-content a {
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 2px;
}
footer .footer-container .footer-content a:hover {
  color: #fbaf85;
  transition: 250ms;
}
footer .footer-container .footer-content a:hover .icon path {
  fill: #fbaf85;
  transition: 250ms;
}
footer .footer-container .footer-content p {
  color: #ffffff;
  opacity: 0.5;
  font-size: 15px;
  line-height: 25px;
}
footer .footer-container .footer-content span {
  color: #ffffff;
  opacity: 0.5;
  font-size: 15px;
}

header {
  background-color: #101010;
  position: relative;
  z-index: 2;
}
header .header-container {
  background-color: #101010;
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  header .header-container {
    max-width: 768px;
    height: 90px;
  }
}
@media only screen and (max-width: 420px) {
  header .header-container {
    max-width: 375px;
    height: 90px;
  }
}
header .header-container .header-content {
  max-width: 1150px;
  width: 100%;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-container .header-content .logo-container {
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 768px) {
  header .header-container .header-content .logo-container {
    max-width: 201px;
    width: 100%;
  }
}
@media only screen and (max-width: 420px) {
  header .header-container .header-content .logo-container {
    max-width: 235px;
  }
}
header .header-container .header-content .logo-container .menu-btn {
  display: none;
}
@media only screen and (max-width: 768px) {
  header .header-container .header-content .logo-container .menu-btn {
    display: block;
  }
}
@media only screen and (max-width: 420px) {
  header .header-container .header-content .logo-container .menu-btn {
    display: block;
  }
}
header .header-container .header-content .nav-bar {
  max-width: 423px;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  header .header-container .header-content .nav-bar {
    display: none;
  }
}
@media only screen and (max-width: 420px) {
  header .header-container .header-content .nav-bar {
    display: none;
  }
}
header .header-container .header-content .cart {
  width: 24px;
  height: 20px;
}
header .header-container .header-content .cart:hover path {
  fill: #fbaf85;
  transition: 250ms;
}
header .underline {
  margin: 0 auto;
  max-width: 1110px;
  width: 100%;
  height: 1px;
  background-color: #979797;
}
@media only screen and (max-width: 768px) {
  header .underline {
    max-width: 689px;
  }
}
@media only screen and (max-width: 420px) {
  header .underline {
    max-width: 375px;
  }
}

.main-page main #section-1 {
  background-color: #101010;
}
.main-page main #section-1 .section-container {
  overflow-x: hidden;
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  height: 629px;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  .main-page main #section-1 .section-container {
    height: 639px;
  }
}
.main-page main #section-1 .section-container .flex-wrap {
  max-width: 1150px;
  width: 100%;
  padding: 0px 20px;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .main-page main #section-1 .section-container .flex-wrap {
    justify-content: center;
    position: relative;
  }
}
.main-page main #section-1 .section-container .flex-wrap .left-side {
  flex: 1;
}
@media only screen and (max-width: 768px) {
  .main-page main #section-1 .section-container .flex-wrap .left-side {
    z-index: 2;
    flex: 1;
    display: flex;
    justify-content: center;
  }
}
@media only screen and (max-width: 420px) {
  .main-page main #section-1 .section-container .flex-wrap .left-side {
    z-index: 2;
    flex: 1;
  }
}
@media only screen and (max-width: 768px) {
  .main-page main #section-1 .section-container .flex-wrap .left-side .text-content {
    max-width: 379px;
    width: 100%;
    text-align: center;
  }
}
.main-page main #section-1 .section-container .flex-wrap .left-side .text-content span {
  padding-bottom: 24px;
}
@media only screen and (max-width: 420px) {
  .main-page main #section-1 .section-container .flex-wrap .left-side .text-content span {
    padding-bottom: 16px;
  }
}
.main-page main #section-1 .section-container .flex-wrap .left-side .text-content h2 {
  padding-bottom: 24px;
}
@media only screen and (max-width: 420px) {
  .main-page main #section-1 .section-container .flex-wrap .left-side .text-content h2 {
    padding-bottom: 24px;
  }
}
.main-page main #section-1 .section-container .flex-wrap .left-side .text-content p {
  padding-bottom: 40px;
  max-width: 349px;
  line-height: 25px;
}
@media only screen and (max-width: 420px) {
  .main-page main #section-1 .section-container .flex-wrap .left-side .text-content p {
    padding-bottom: 28px;
  }
}
.main-page main #section-1 .section-container .flex-wrap .left-side .text-content button {
  padding: 15px 30px;
  background-color: #d87d4a;
  border: none;
}
.main-page main #section-1 .section-container .flex-wrap .left-side .text-content button:hover {
  background-color: #fbaf85;
  transition: 250ms;
}
.main-page main #section-1 .section-container .flex-wrap .right-side {
  flex: 1;
}
.main-page main #section-1 .section-container .flex-wrap .right-side img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
@media only screen and (max-width: 768px) {
  .main-page main #section-1 .section-container .flex-wrap .right-side {
    position: absolute;
    z-index: 1;
  }
}
.main-page main #section-2 {
  padding-top: 200px;
}
@media only screen and (max-width: 768px) {
  .main-page main #section-2 {
    padding-top: 100px;
  }
}
@media only screen and (max-width: 420px) {
  .main-page main #section-2 {
    padding-top: 92px;
  }
}
.main-page main #section-2 .section-container {
  max-width: 1440px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.main-page main #section-2 .section-container .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 204px;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media only screen and (max-width: 768px) {
  .main-page main #section-2 .section-container .grid {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}
@media only screen and (max-width: 420px) {
  .main-page main #section-2 .section-container .grid {
    height: 631px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.main-page main #section-2 .section-container .section-content {
  max-width: 1150px;
  width: 100%;
  padding: 0px 20px;
}
.main-page main #section-2 .section-container .section-content .mini-box {
  background-color: #f1f1f1;
  max-width: 350px;
  height: 204px;
  width: 100%;
  padding-top: 116px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .main-page main #section-2 .section-container .section-content .mini-box {
    height: 165px;
    padding-top: 88px;
  }
}
.main-page main #section-2 .section-container .section-content .mini-box img {
  position: absolute;
  top: -80px;
  width: 115px;
  height: 150px;
}
@media only screen and (max-width: 768px) {
  .main-page main #section-2 .section-container .section-content .mini-box img {
    top: -52px;
    width: 90px;
    height: 90px;
  }
}
.main-page main #section-2 .section-container .section-content .mini-box span {
  padding-bottom: 15px;
}
@media only screen and (max-width: 768px) {
  .main-page main #section-2 .section-container .section-content .mini-box span {
    padding-bottom: 17px;
  }
}
.main-page main #section-2 .section-container .section-content .mini-box a:hover {
  color: #fbaf85;
  transition: 250ms;
}
.main-page main #section-3 {
  padding-top: 112px;
}
.main-page main #section-3 .section-container {
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
@media only screen and (max-width: 768px) {
  .main-page main #section-3 .section-container {
    min-height: 633px;
  }
}
@media only screen and (max-width: 420px) {
  .main-page main #section-3 .section-container {
    min-height: 698px;
  }
}
.main-page main #section-3 .section-container .flex-wrap {
  max-width: 1150px;
  padding: 0px 20px;
  width: 100%;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .main-page main #section-3 .section-container .flex-wrap {
    min-height: 633px;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 420px) {
  .main-page main #section-3 .section-container .flex-wrap {
    min-height: 698px;
  }
}
.main-page main #section-3 .section-container .flex-wrap .left-side {
  flex: 1;
}
@media only screen and (max-width: 768px) {
  .main-page main #section-3 .section-container .flex-wrap .left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 573px;
    text-align: center;
    order: 1;
  }
}
.main-page main #section-3 .section-container .flex-wrap .left-side h3 {
  max-width: 445px;
  width: 100%;
  padding-bottom: 32px;
}
.main-page main #section-3 .section-container .flex-wrap .left-side p {
  max-width: 445px;
  width: 100%;
}
.main-page main #section-3 .section-container .flex-wrap .right-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .main-page main #section-3 .section-container .flex-wrap .right-side img {
    height: 300px;
  }
}
.main-page main #section-4 {
  padding-top: 200px;
}
.main-page main #section-4 .section-container {
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.main-page main #section-4 .section-container .section-content {
  position: relative;
  max-width: 1150px;
  padding: 0px 20px;
  width: 100%;
  min-height: 351px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-page main #section-4 .section-container .section-content .header-content {
  width: 100%;
  min-height: 58px;
  margin: 0 auto;
}
.main-page main #section-4 .section-container .section-content .header-content h2 {
  font-size: 48px;
  font-weight: bold;
  color: #000000;
}
.main-page main #section-4 .section-container .section-content .swiper {
  width: 100%;
  min-height: 240px;
  position: static;
}
.main-page main #section-4 .section-container .section-content .swiper .swiper-wrapper {
  height: inherit;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.main-page main #section-4 .section-container .section-content .swiper .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 240px;
}
.main-page main #section-4 .section-container .section-content .swiper .swiper-wrapper .swiper-slide .slide-content .card {
  width: 100%;
  min-height: 240px;
  padding: 28px 32px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-page main #section-4 .section-container .section-content .swiper .swiper-wrapper .swiper-slide .slide-content .card .name span {
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  color: #000000;
}
.main-page main #section-4 .section-container .section-content .swiper .swiper-wrapper .swiper-slide .slide-content .card .note p {
  font-size: 16px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.6);
}
.main-page main #section-4 .section-container .section-content .swiper .swiper-button-next,
.main-page main #section-4 .section-container .section-content .swiper .swiper-button-prev {
  color: transparent;
  background: none;
}
.main-page main #section-4 .section-container .section-content .swiper .swiper-button-next:after,
.main-page main #section-4 .section-container .section-content .swiper .swiper-button-prev:after {
  content: none;
}
.main-page main #section-4 .section-container .section-content .swiper .swiper-button-next,
.main-page main #section-4 .section-container .section-content .swiper .swiper-button-prev {
  position: absolute;
  top: 34px;
  right: 35px;
}
.main-page main #section-4 .section-container .section-content .swiper .swiper-button-next {
  right: 0px;
}
.main-page main #section-4 .section-container .section-content .swiper .swiper-button-prev {
  left: 93.7%;
}
.main-page main #section-5 {
  padding: 120px 0px 90px 0px;
}
.main-page main #section-5 .section-container {
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.main-page main #section-5 .section-container .section-content {
  max-width: 1150px;
  width: 100%;
  min-height: 312px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 20px;
}
@media only screen and (max-width: 420px) {
  .main-page main #section-5 .section-container .section-content {
    align-items: center;
    min-height: 944px;
  }
}
@media only screen and (max-width: 420px) {
  .main-page main #section-5 .section-container .section-content .section-title {
    text-align: center;
  }
}
.main-page main #section-5 .section-container .section-content .section-title h2 {
  font-size: 48px;
  font-weight: bolder;
  color: #000000;
}
.main-page main #section-5 .section-container .section-content .section-cards {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 768px) {
  .main-page main #section-5 .section-container .section-content .section-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 408px;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 420px) {
  .main-page main #section-5 .section-container .section-content .section-cards {
    height: 836px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
.main-page main #section-5 .section-container .section-content .section-cards .card-1 {
  grid-row: 1;
  grid-column: 1;
}
.main-page main #section-5 .section-container .section-content .section-cards .card-2 {
  grid-row: 1;
  grid-column: 2;
}
.main-page main #section-5 .section-container .section-content .section-cards .card-1 {
  grid-row: 2;
  grid-column: 1;
}
.main-page main #section-5 .section-container .section-content .section-cards .card-1 {
  grid-row: 2;
  grid-column: 2;
}
.main-page main #section-5 .section-container .section-content .section-cards .card {
  border-radius: 22px;
  padding: 46px 36px;
  max-width: 252px;
  width: 100%;
  height: 199px;
  background-color: #101010;
}
.main-page main #section-5 .section-container .section-content .section-cards .card .card-content {
  max-width: 179px;
  height: 107px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.main-page main #section-5 .section-container .section-content .section-cards .card .card-content .number {
  font-size: 64px;
  color: #ffffff;
}
.main-page main #section-5 .section-container .section-content .section-cards .card .card-content .text {
  color: #ffffff;
  font-size: 16px;
}

footer {
  background-color: #101010;
}
footer .footer-container {
  margin: 0 auto;
  padding-top: 75px;
  max-width: 1440px;
  width: 100%;
  height: 365px;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  footer .footer-container {
    max-width: 768px;
    padding-top: 60px;
  }
}
@media only screen and (max-width: 420px) {
  footer .footer-container {
    height: 654px;
  }
}
footer .footer-container .footer-content {
  max-width: 1110px;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  footer .footer-container .footer-content {
    max-width: 689px;
  }
}
footer .footer-container .footer-content .text-content .logo {
  width: 143px;
  height: 25px;
}
@media only screen and (max-width: 420px) {
  footer .footer-container .footer-content .text-content .logo {
    order: 1;
  }
}
footer .footer-container .footer-content .text-content .nav-bar {
  max-width: 400px;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  footer .footer-container .footer-content .text-content .nav-bar {
    max-width: 427px;
  }
}
@media only screen and (max-width: 420px) {
  footer .footer-container .footer-content .text-content .nav-bar {
    max-width: 108px;
    width: 100%;
    order: 1;
  }
}
@media only screen and (max-width: 420px) {
  footer .footer-container .footer-content .text-content .nav-bar nav {
    max-width: 108px;
  }
}
@media only screen and (max-width: 420px) {
  footer .footer-container .footer-content .text-content .nav-bar ul {
    height: 148px;
    max-width: 108px;
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
}
footer .footer-container .footer-content .text-content .links {
  width: 100%;
  display: flex;
  justify-content: end;
}
footer .footer-container .footer-content .text-content .links ul {
  max-width: 104px;
  width: 100%;
  justify-content: space-between;
}
@media only screen and (max-width: 420px) {
  footer .footer-container .footer-content .text-content .links {
    order: 5;
    max-width: 104px;
  }
}
footer .footer-container .footer-content .text-content .about {
  max-width: 540px;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  footer .footer-container .footer-content .text-content .about {
    max-width: 689px;
  }
}
@media only screen and (max-width: 420px) {
  footer .footer-container .footer-content .text-content .about {
    max-width: 327px;
    text-align: center;
    order: 2;
  }
}
footer .footer-container .footer-content .text-content .copy-right {
  order: 5;
}
footer .footer-container .footer-content .footer-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 25px auto 25px;
  align-items: end;
  -moz-column-gap: 141px;
       column-gap: 141px;
  row-gap: 44px;
}
@media only screen and (max-width: 768px) {
  footer .footer-container .footer-content .footer-grid {
    grid-template-columns: auto auto;
    grid-template-rows: 25px 25px auto 48px;
    row-gap: 32px;
    -moz-column-gap: normal;
         column-gap: normal;
  }
}
@media only screen and (max-width: 420px) {
  footer .footer-container .footer-content .footer-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
footer .footer-container .footer-content .footer-grid .grid-item-1 {
  grid-column: 1;
  grid-row: 1;
}
@media only screen and (max-width: 768px) {
  footer .footer-container .footer-content .footer-grid .grid-item-1 {
    grid-row: 1;
    grid-column: 1;
  }
}
footer .footer-container .footer-content .footer-grid .grid-item-2 {
  grid-column: 2;
  grid-row: 1;
}
@media only screen and (max-width: 768px) {
  footer .footer-container .footer-content .footer-grid .grid-item-2 {
    grid-row: 2;
    grid-column: 1;
  }
}
footer .footer-container .footer-content .footer-grid .grid-item-3 {
  grid-row: 2;
  grid-column: 1;
}
@media only screen and (max-width: 768px) {
  footer .footer-container .footer-content .footer-grid .grid-item-3 {
    grid-row: 3;
    grid-column: 1/3;
  }
}
footer .footer-container .footer-content .footer-grid .grid-item-4 {
  grid-column: 2;
  grid-row: 2;
  text-align: end;
}
@media only screen and (max-width: 768px) {
  footer .footer-container .footer-content .footer-grid .grid-item-4 {
    grid-column: 2;
    grid-row: 4;
  }
}
footer .footer-container .footer-content .footer-grid .grid-item-5 {
  grid-row: 3;
  grid-column: 1/3;
}
@media only screen and (max-width: 768px) {
  footer .footer-container .footer-content .footer-grid .grid-item-5 {
    grid-row: 4;
    grid-column: 1;
  }
}

.overlay.show {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  opacity: 0.5;
  z-index: 1;
}

.pop-up {
  z-index: 2;
  padding: 32px 31px 30px 33px;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  max-width: 377px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  z-index: 2;
  transition: opacity 0.5s, visibility 0s 0.5s;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: 25px 1fr 25px 48px;
  row-gap: 32px;
}
.pop-up .popup-header {
  margin: 0 auto;
  grid-row: 1;
  max-width: 313px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pop-up .popup-header h3 {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1.29px;
}
.pop-up .popup-header button {
  background-color: transparent;
  font-size: 15px;
  line-height: 25px;
  border: none;
  color: #d87d4a;
}
.pop-up .popup-header button:hover {
  text-decoration: underline;
}
.pop-up .product-list {
  margin: 0 auto;
  max-width: 313px;
  width: 100%;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: -moz-fit-content;
  height: fit-content;
}
.pop-up .product-list .product-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
}
.pop-up .product-list .product-item .product-summary {
  display: flex;
  align-items: center;
}
.pop-up .product-list .product-item .product-summary .image-container {
  width: 64px;
  height: 64px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
}
.pop-up .product-list .product-item .product-summary .image-container img {
  width: 36px;
}
.pop-up .product-list .product-item .product-summary .product-info {
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: -moz-fit-content;
  max-width: fit-content;
  width: 100%;
}
.pop-up .product-list .product-item .product-summary .product-info .product-name {
  font-size: 15px;
  line-height: 25px;
  font-weight: bold;
  color: #000000;
}
.pop-up .product-list .product-item .product-summary .product-info .product-price {
  font-size: 14px;
  line-height: 25px;
  font-weight: bold;
  color: #000000;
  opacity: 0.5;
}
.pop-up .product-list .product-item .quantity-controls {
  grid-row: 3;
  width: 96px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pop-up .product-list .product-item .quantity-controls .quantity {
  display: block;
  width: 66px;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  color: #000000;
}
.pop-up .product-list .product-item .quantity-controls .remove-button {
  padding: 10px 6px;
  background-color: #f1f1f1;
  font-size: 10px;
  font-weight: bold;
  color: #000000;
  letter-spacing: 1px;
  border: none;
}
.pop-up .total-container {
  margin: 0 auto;
  max-width: 308px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.pop-up .total-container .total-text {
  font-size: 15px;
  color: #000000;
  opacity: 0.5;
  font-weight: bold;
}
.pop-up .total-container .total-price {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}
.pop-up .checkout-div {
  margin: 0 auto;
  grid-row: 4;
  max-width: 313px;
  width: 100%;
}
.pop-up .checkout-div button {
  width: 100%;
  padding: 16px 116px;
  font-size: 13px;
  letter-spacing: 1px;
  color: #ffffff;
  background-color: #d87d4a;
  border: none;
}

.pop-up.show {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s;
}

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  /* border: 3px solid #fff; */
}
.menu-btn .menu-btn__burger {
  width: 16px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}
.menu-btn .menu-btn__burger::before, .menu-btn .menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
  padding: 0px;
}
.menu-btn .menu-btn__burger::before {
  transform: translateY(-16px);
}
.menu-btn .menu-btn__burger::after {
  transform: translateY(16px);
}
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.product-page main #section-1 {
  background-color: #101010;
}
.product-page main #section-1 .section-container {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.product-page main #section-1 .section-container .section-content {
  max-width: 1150px;
  width: 100%;
  padding: 0px 20px;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 420px) {
  .product-page main #section-1 .section-container .section-content {
    height: 100px;
  }
}
.product-page main #section-1 .section-container .section-content h1 {
  font-size: 40px;
  color: #ffffff;
  letter-spacing: 1.43px;
  line-height: 44px;
}
.product-page main #section-2 {
  padding-top: 120px;
}
@media only screen and (max-width: 420px) {
  .product-page main #section-2 {
    padding-top: 64px;
  }
}
.product-page main #section-2 .section-container {
  margin: 0px auto;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  .product-page main #section-2 .section-container {
    max-width: 768px;
    height: 1497px;
  }
}
.product-page main #section-2 .section-container .section-content {
  max-width: 1150px;
  width: 100%;
  padding: 0px 20px;
}
.product-page main #section-2 .section-container .section-content .products {
  height: 1280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (max-width: 768px) {
  .product-page main #section-2 .section-container .section-content .products {
    height: 1497px;
  }
}
.product-page main #section-2 .section-container .section-content .products .product {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 768px) {
  .product-page main #section-2 .section-container .section-content .products .product {
    height: 706px;
    flex-direction: column;
  }
}
.product-page main #section-2 .section-container .section-content .products .product .image-div {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 570px;
  width: 100%;
  height: 560px;
  background-color: #f1f1f1;
}
@media only screen and (max-width: 768px) {
  .product-page main #section-2 .section-container .section-content .products .product .image-div {
    max-width: 689px;
    height: 352px;
  }
}
@media only screen and (max-width: 420px) {
  .product-page main #section-2 .section-container .section-content .products .product .image-div {
    max-width: 327px;
    height: 352px;
  }
}
@media only screen and (max-width: 768px) {
  .product-page main #section-2 .section-container .section-content .products .product .image-div img {
    max-width: 220px;
  }
}
.product-page main #section-2 .section-container .section-content .products .product .product-text {
  max-width: 445px;
  width: 100%;
  min-height: 343px;
}
@media only screen and (max-width: 768px) {
  .product-page main #section-2 .section-container .section-content .products .product .product-text {
    text-align: center;
    min-height: 302px;
  }
}
.product-page main #section-2 .section-container .section-content .products .product .product-text .product-span {
  font-size: 14px;
  color: #d87d4a;
  letter-spacing: 10px;
}
.product-page main #section-2 .section-container .section-content .products .product .product-text .product-header {
  font-size: 40px;
  font-weight: bold;
  line-height: 44px;
  letter-spacing: 1.43px;
  padding: 16px 0px 32px 0px;
}
.product-page main #section-2 .section-container .section-content .products .product .product-text .product-info {
  font-size: 15px;
  line-height: 25px;
  opacity: 0.5;
  color: #000000;
  padding-bottom: 40px;
}
.product-page main #section-2 .section-container .section-content .products .product .product-text .product-button {
  padding: 15px 30px;
  border: none;
  background-color: #d87d4a;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: bold;
}
.product-page main #section-2 .section-container .section-content .products .product:nth-child(even) {
  flex-direction: row-reverse;
}
@media only screen and (max-width: 768px) {
  .product-page main #section-2 .section-container .section-content .products .product:nth-child(even) {
    flex-direction: column;
  }
}
.product-page main #pegination {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.product-page main #pegination .buttons {
  max-width: 114px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 100px 0px;
}
.product-page main #pegination .buttons button {
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid black;
}

main #goBack {
  padding-top: 79px;
}
@media only screen and (max-width: 768px) {
  main #goBack {
    padding-top: 33px;
  }
}
@media only screen and (max-width: 420px) {
  main #goBack {
    padding-top: 16px;
  }
}
main #goBack .go-back {
  max-width: 1150px;
  padding: 0px 20px;
  width: 100%;
  margin: 0 auto;
  display: flex;
}
main #goBack .go-back a {
  color: #000000;
  opacity: 0.5;
}
main #product {
  padding-top: 56px;
}
@media only screen and (max-width: 768px) {
  main #product {
    padding-top: 24px;
  }
}
@media only screen and (max-width: 420px) {
  main #product {
    padding-top: 25px;
  }
}
main #product .section-container {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: center;
}
main #product .section-container .section-content {
  max-width: 1150px;
  padding: 0px 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 420px) {
  main #product .section-container .section-content {
    height: 720px;
    display: flex;
    flex-direction: column;
  }
}
main #product .section-container .section-content .product-image {
  background-color: #f1f1f1;
  max-width: 540px;
  width: 100%;
  height: 560px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  main #product .section-container .section-content .product-image {
    max-width: 281px;
    height: 480px;
  }
}
@media only screen and (max-width: 420px) {
  main #product .section-container .section-content .product-image {
    max-width: 327px;
    height: 327px;
  }
}
main #product .section-container .section-content .product-image img {
  width: 350px;
}
@media only screen and (max-width: 768px) {
  main #product .section-container .section-content .product-image img {
    max-width: 185px;
  }
}
@media only screen and (max-width: 420px) {
  main #product .section-container .section-content .product-image img {
    max-width: 150px;
  }
}
main #product .section-container .section-content .product-description {
  max-width: 445.5px;
  width: 100%;
  min-height: 407px;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 768px) {
  main #product .section-container .section-content .product-description {
    max-width: 357px;
    min-height: 357px;
  }
}
main #product .section-container .section-content .product-description .product-span {
  font-size: 14px;
  letter-spacing: 10px;
  color: #d87d4a;
}
@media only screen and (max-width: 768px) {
  main #product .section-container .section-content .product-description .product-span {
    font-size: 12px;
    letter-spacing: 8px;
  }
}
@media only screen and (max-width: 420px) {
  main #product .section-container .section-content .product-description .product-span {
    font-size: 14px;
    letter-spacing: 10px;
  }
}
main #product .section-container .section-content .product-description .product-header {
  padding: 16px 0px 32px 0px;
  font-size: 40px;
  letter-spacing: 1.43px;
  line-height: 44px;
  font-weight: bold;
}
@media only screen and (max-width: 768px) {
  main #product .section-container .section-content .product-description .product-header {
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 1px;
  }
}
@media only screen and (max-width: 420px) {
  main #product .section-container .section-content .product-description .product-header {
    font-size: 28px;
  }
}
main #product .section-container .section-content .product-description .product-info {
  padding-bottom: 32px;
  font-size: 14px;
  line-height: 25px;
  color: #000000;
  opacity: 0.5;
}
main #product .section-container .section-content .product-description .product-price {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  letter-spacing: 1.29px;
}
main #product .section-container .section-content .product-description .quantity-cart {
  padding-top: 47px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 296px;
  width: 100%;
}
main #product .section-container .section-content .product-description .quantity-cart .quantity-div {
  max-width: 120px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: #f1f1f1;
  height: 48px;
}
main #product .section-container .section-content .product-description .quantity-cart .quantity-div button {
  width: 16px;
  background-color: transparent;
  border: none;
  color: #000000;
  opacity: 0.25;
}
main #product .section-container .section-content .product-description .quantity-cart .quantity-div input {
  max-width: 48px;
  background-color: transparent;
  border: none;
  text-align: center;
  font-weight: bold;
  font-size: 13px;
}
main #product .section-container .section-content .product-description .quantity-cart .add-cart-btn {
  padding: 15px 32px;
  border: none;
  background-color: #d87d4a;
  color: #ffffff;
  font-size: 13px;
}
main #features {
  padding-top: 160px;
}
@media only screen and (max-width: 420px) {
  main #features {
    padding-top: 88px;
  }
}
main #features .section-container {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: center;
}
main #features .section-container .section-content {
  max-width: 1150px;
  padding: 0px 20px;
  width: 100%;
  min-height: 318px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main #features .section-container .section-content h2 {
  font-size: 40px;
  line-height: 36px;
  font-weight: bold;
  letter-spacing: 1.14px;
}
@media only screen and (max-width: 768px) {
  main #features .section-container .section-content h2 {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 1.16px;
  }
}
@media only screen and (max-width: 420px) {
  main #features .section-container .section-content h2 {
    font-size: 24px;
    letter-spacing: 0.86px;
  }
}
main #features .section-container .section-content p {
  max-width: 635px;
  width: 100%;
  line-height: 25px;
  font-size: 15px;
  color: #000000;
  opacity: 0.5;
}
main #product-images {
  padding: 160px 0px 153px 0px;
}
@media only screen and (max-width: 420px) {
  main #product-images {
    padding: 393px 0px 153px 0px;
  }
}
main #product-images .section-container {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: center;
}
main #product-images .section-container .section-content {
  max-width: 1150px;
  padding: 0px 20px;
  width: 100%;
  max-height: 592px;
}
@media only screen and (max-width: 768px) {
  main #product-images .section-container .section-content {
    min-height: 368px;
  }
}
main #product-images .section-container .grid {
  display: grid;
  grid-template-columns: 4fr 6fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 32px;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media only screen and (max-width: 420px) {
  main #product-images .section-container .grid {
    min-height: 756px;
    row-gap: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
main #product-images .section-container .grid img {
  width: 100%;
  height: 100%;
}
main #product-images .section-container .grid .grid-item-1 {
  grid-row: 1;
  grid-column: 1;
}
@media only screen and (max-width: 420px) {
  main #product-images .section-container .grid .grid-item-1 img {
    max-width: 327px;
    height: 174px;
  }
}
main #product-images .section-container .grid .grid-item-2 {
  grid-row: 2;
  grid-column: 1;
}
@media only screen and (max-width: 420px) {
  main #product-images .section-container .grid .grid-item-2 img {
    max-width: 327px;
    height: 174px;
  }
}
main #product-images .section-container .grid .grid-item-3 {
  grid-row: 1/3;
  grid-column: 2;
}
@media only screen and (max-width: 420px) {
  main #product-images .section-container .grid .grid-item-3 img {
    max-width: 327px;
    height: 368px;
  }
}

main .background {
  background-color: #f1f1f1;
}
main .background #checkout {
  padding: 38px 0px 245px 0px;
}
@media only screen and (max-width: 768px) {
  main .background #checkout {
    padding: 24px 0px 0px 0px;
  }
}
main .background #checkout .section-container {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: center;
}
main .background #checkout .section-container .flex-wrapper {
  max-width: 1150px;
  width: 100%;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 768px) {
  main .background #checkout .section-container .flex-wrapper {
    flex-direction: column;
    row-gap: 32px;
  }
}
main .background #checkout .section-container .flex-wrapper .checkout {
  flex: 2;
  background-color: #ffffff;
  margin-right: 20px;
  width: 100%;
  height: 1340px;
  border-radius: 8px;
  padding: 77px 47.5px 64px 48px;
}
main .background #checkout .section-container .flex-wrapper .checkout .checkout-content {
  display: flex;
  flex-direction: column;
  height: 1200px;
}
main .background #checkout .section-container .flex-wrapper .checkout .checkout-content .section-title {
  font-size: 32px;
  font-weight: bold;
  line-height: 36px;
  letter-spacing: 1.14px;
}
main .background #checkout .section-container .flex-wrapper .checkout .checkout-content .billing-details {
  margin-top: 41px;
}
main .background #checkout .section-container .flex-wrapper .checkout .checkout-content .billing-details .title {
  margin-bottom: 16px;
}
main .background #checkout .section-container .flex-wrapper .checkout .checkout-content .billing-details .title span {
  font-size: 13px;
  font-weight: bold;
  color: #d87d4a;
  letter-spacing: 0.93px;
  line-height: 25px;
}
main .background #checkout .section-container .flex-wrapper .checkout .checkout-content .billing-details .input-field {
  height: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 25px;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
main .background #checkout .section-container .flex-wrapper .checkout .checkout-content .billing-details .input-field div {
  max-width: 309px;
  width: 100%;
  height: 85px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .background #checkout .section-container .flex-wrapper .checkout .checkout-content .billing-details .input-field div span {
  font-size: 12px;
  letter-spacing: -0.21px;
  font-weight: bold;
  color: #000000;
}
main .background #checkout .section-container .flex-wrapper .checkout .checkout-content .billing-details .input-field div input {
  width: 100%;
  height: 60px;
  border: 1px #cfcfcf solid;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  opacity: 0.4;
}
main .background #checkout .section-container .flex-wrapper .checkout .checkout-content .billing-details .input-field .name {
  grid-row: 1;
  grid-column: 1;
}
main .background #checkout .section-container .flex-wrapper .checkout .checkout-content .billing-details .input-field .email {
  grid-row: 1;
  grid-column: 2;
}
main .background #checkout .section-container .flex-wrapper .checkout .checkout-content .billing-details .input-field .number {
  grid-row: 2;
  grid-column: 1;
}
main .background #checkout .section-container .flex-wrapper .checkout .checkout-content .shopping-info {
  margin-top: 61px;
}
main .background #checkout .section-container .flex-wrapper .checkout .checkout-content .shopping-info .title {
  margin-bottom: 16px;
}
main .background #checkout .section-container .flex-wrapper .checkout .checkout-content .shopping-info .title span {
  font-size: 13px;
  font-weight: bold;
  color: #d87d4a;
  letter-spacing: 0.93px;
  line-height: 25px;
}
main .background #checkout .section-container .flex-wrapper .checkout .checkout-content .shopping-info .input-field {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 25px;
  -moz-column-gap: 16px;
       column-gap: 16px;
  min-height: 302px;
}
main .background #checkout .section-container .flex-wrapper .checkout .checkout-content .shopping-info .input-field div {
  height: 85px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .background #checkout .section-container .flex-wrapper .checkout .checkout-content .shopping-info .input-field div span {
  font-size: 12px;
  letter-spacing: -0.21px;
  font-weight: bold;
  color: #000000;
}
main .background #checkout .section-container .flex-wrapper .checkout .checkout-content .shopping-info .input-field div input {
  width: 100%;
  height: 60px;
  border: 1px #cfcfcf solid;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  opacity: 0.4;
}
main .background #checkout .section-container .flex-wrapper .checkout .checkout-content .shopping-info .input-field .address {
  grid-column: 1/3;
  grid-row: 1;
  width: 100%;
}
main .background #checkout .section-container .flex-wrapper .checkout .checkout-content .shopping-info .input-field .zip,
main .background #checkout .section-container .flex-wrapper .checkout .checkout-content .shopping-info .input-field .city,
main .background #checkout .section-container .flex-wrapper .checkout .checkout-content .shopping-info .input-field .country {
  max-width: 309px;
  width: 100%;
}
main .background #checkout .section-container .flex-wrapper .checkout .checkout-content .shopping-info .input-field .zip {
  grid-row: 2;
  grid-column: 1;
}
main .background #checkout .section-container .flex-wrapper .checkout .checkout-content .shopping-info .input-field .city {
  grid-row: 2;
  grid-column: 2;
}
main .background #checkout .section-container .flex-wrapper .checkout .checkout-content .shopping-info .input-field .country {
  grid-row: 3;
  grid-column: 1;
}
main .background #checkout .section-container .flex-wrapper .checkout .checkout-content .payment-details {
  margin-top: 61px;
}
main .background #checkout .section-container .flex-wrapper .checkout .checkout-content .payment-details .title {
  margin-bottom: 13px;
  display: flex;
  justify-content: space-between;
}
main .background #checkout .section-container .flex-wrapper .checkout .checkout-content .payment-details .title .payment {
  font-size: 13px;
  font-weight: bold;
  color: #d87d4a;
  letter-spacing: 0.93px;
  line-height: 25px;
}
main .background #checkout .section-container .flex-wrapper .checkout .checkout-content .payment-details .title .credit-card {
  font-size: 13px;
  color: #000000;
  letter-spacing: 0.3px;
  line-height: 16px;
  text-decoration: underline;
}
@media only screen and (max-width: 768px) {
  main .background #checkout .section-container .flex-wrapper .checkout .checkout-content .payment-details .description {
    display: flex;
    -moz-column-gap: 25px;
         column-gap: 25px;
  }
}
main .background #checkout .section-container .flex-wrapper .checkout .checkout-content .payment-details .description .card {
  order: 1;
  margin: 30px auto 42px;
  max-width: 338px;
  width: 100%;
  height: 190px;
  background-color: #000000;
  border-radius: 16px;
  position: relative;
  padding: 100px 0px 18px 0px;
}
@media only screen and (max-width: 768px) {
  main .background #checkout .section-container .flex-wrapper .checkout .checkout-content .payment-details .description .card {
    max-width: 300px;
    margin: 0;
  }
}
main .background #checkout .section-container .flex-wrapper .checkout .checkout-content .payment-details .description .card .card-content {
  padding: 0px 16px 0px 22px;
  max-width: 300px;
  width: 100%;
}
main .background #checkout .section-container .flex-wrapper .checkout .checkout-content .payment-details .description .card .card-content .sim {
  position: absolute;
  left: 28px;
  top: 25px;
}
main .background #checkout .section-container .flex-wrapper .checkout .checkout-content .payment-details .description .card .card-content .wifi {
  position: absolute;
  left: 55px;
  top: 24px;
}
main .background #checkout .section-container .flex-wrapper .checkout .checkout-content .payment-details .description .card .card-content .number {
  color: #ffffff;
  word-spacing: 25px;
  font-size: 18px;
  font-weight: bolder;
  line-height: 24px;
}
@media only screen and (max-width: 768px) {
  main .background #checkout .section-container .flex-wrapper .checkout .checkout-content .payment-details .description .card .card-content .number {
    font-size: 15px;
    line-height: 21px;
    word-spacing: 5px;
  }
}
main .background #checkout .section-container .flex-wrapper .checkout .checkout-content .payment-details .description .card .card-content .card-logo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 23px;
}
main .background #checkout .section-container .flex-wrapper .checkout .checkout-content .payment-details .description .card .card-content .card-logo .cardholder {
  color: #aeaeae;
  font-size: 14px;
  line-height: 16px;
}
main .background #checkout .section-container .flex-wrapper .checkout .checkout-content .payment-details .description .input-field {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 16px;
  -moz-column-gap: 16px;
       column-gap: 16px;
  min-height: 176px;
  max-width: 512px;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  main .background #checkout .section-container .flex-wrapper .checkout .checkout-content .payment-details .description .input-field {
    max-width: 309px;
  }
}
main .background #checkout .section-container .flex-wrapper .checkout .checkout-content .payment-details .description .input-field div {
  height: 48px;
}
@media only screen and (max-width: 768px) {
  main .background #checkout .section-container .flex-wrapper .checkout .checkout-content .payment-details .description .input-field div {
    height: 56px;
  }
}
main .background #checkout .section-container .flex-wrapper .checkout .checkout-content .payment-details .description .input-field div span {
  font-size: 12px;
  letter-spacing: -0.21px;
  font-weight: bold;
  color: #000000;
}
main .background #checkout .section-container .flex-wrapper .checkout .checkout-content .payment-details .description .input-field div input {
  width: 100%;
  height: 100%;
  border: 1px #cfcfcf solid;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  opacity: 0.4;
}
main .background #checkout .section-container .flex-wrapper .checkout .checkout-content .payment-details .description .input-field .country {
  grid-row: 1;
  grid-column: 1/3;
}
main .background #checkout .section-container .flex-wrapper .checkout .checkout-content .payment-details .description .input-field .card-number {
  grid-row: 2;
  grid-column: 1/3;
}
main .background #checkout .section-container .flex-wrapper .summary {
  padding: 32px 33px;
  flex: 1;
  background-color: #ffffff;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  border-radius: 8px;
}
main .background #checkout .section-container .flex-wrapper .summary .summary-title {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1.29px;
  color: #000000;
}
main .background #checkout .section-container .flex-wrapper .summary .element {
  margin-top: 31px;
  max-width: 284px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
main .background #checkout .section-container .flex-wrapper .summary .element .product-info {
  display: flex;
}
main .background #checkout .section-container .flex-wrapper .summary .element .product-info .image-container {
  margin-right: 16px;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  border-radius: 8px;
}
main .background #checkout .section-container .flex-wrapper .summary .element .product-info .image-container img {
  width: 36px;
  height: 40px;
}
main .background #checkout .section-container .flex-wrapper .summary .element .product-info .info-container {
  padding: 7px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: -moz-fit-content;
  width: fit-content;
}
main .background #checkout .section-container .flex-wrapper .summary .element .product-info .info-container .product-name {
  font-size: 15px;
  font-weight: bold;
  line-height: 25px;
  color: #000000;
}
main .background #checkout .section-container .flex-wrapper .summary .element .product-info .info-container .product-price {
  font-size: 14px;
  line-height: 25px;
  font-weight: bold;
  color: #000000;
  opacity: 0.5;
}
main .background #checkout .section-container .flex-wrapper .summary .element .quantity-container {
  padding: 7px 0px;
}
main .background #checkout .section-container .flex-wrapper .summary .element .quantity-container span {
  font-size: 15px;
  font-weight: bold;
  line-height: 25px;
}
main .background #checkout .section-container .flex-wrapper .summary .total-container {
  margin-top: 32px;
  max-width: 284px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .background #checkout .section-container .flex-wrapper .summary .total-container .total-text {
  font-size: 15px;
  color: #000000;
  opacity: 0.5;
  line-height: 25px;
}
main .background #checkout .section-container .flex-wrapper .summary .total-container .total-price {
  font-size: 18px;
  font-weight: bold;
}
main .background #checkout .section-container .flex-wrapper .summary .shipping-container {
  margin-top: 8px;
  max-width: 284px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .background #checkout .section-container .flex-wrapper .summary .shipping-container .shipping-text {
  font-size: 15px;
  color: #000000;
  opacity: 0.5;
  line-height: 25px;
}
main .background #checkout .section-container .flex-wrapper .summary .shipping-container .shipping-price {
  font-size: 18px;
  font-weight: bold;
}
main .background #checkout .section-container .flex-wrapper .summary .grand-container {
  margin-top: 57px;
  max-width: 284px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .background #checkout .section-container .flex-wrapper .summary .grand-container .grand-text {
  font-size: 15px;
  color: #000000;
  opacity: 0.5;
  line-height: 25px;
}
main .background #checkout .section-container .flex-wrapper .summary .grand-container .grand-price {
  font-size: 18px;
  color: #d87d4a;
  font-weight: bold;
}
main .background #checkout .section-container .flex-wrapper .summary .checkout-container {
  margin-top: 32px;
  max-width: 284px;
  height: 48px;
}
main .background #checkout .section-container .flex-wrapper .summary .checkout-container button {
  width: 100%;
  height: 100%;
  background-color: #d87d4a;
  color: #ffffff;
  border: none;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
}/*# sourceMappingURL=main.css.map */